<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<select><option name="nombreJG'+IdNum+'" class="nombre nombreJG" id="nombreJG'+IdNum+'" IdNum="'+IdNum+'" value="">jeff</option></select>
<select name="nombreJG'+IdNum+'" class="nombre nombreJG" id="nombreJG'+IdNum+'" IdNum="'+IdNum+'"></select>
<input type="text" name="nombreJG'+IdNum+'" class="nombre nombreJG" id="nombreJG'+IdNum+'" placeholder="Identificacion" IdNum="'+IdNum+'">

</body>
</html>